@model IEnumerable<AppVendas.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}



<div class="d-flex justify-content-between my-5 align-items-center">
    <a asp-action="Create" class="btn btn-secondary px-5 w-25 d-flex align-items-center justify-content-center">
        <ion-icon name="add-circle-outline" class="fs-4"></ion-icon><span class="fs-4 ms-2 fst-italic">Adicionar</span>
    </a>

    <span class="display-6 w-75 justify-content-center">Cadastro de Categorias</span>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
